body { /* Body styling */
    font-family: 'Verdana', sans-serif;
    margin: 30px;
    background-color: #e0f7fa;
    color: #444;
}

/* Headings styling */
h1 {
    color: #00796b;
    font-size: 34px;
    margin-bottom: 15px;
}

h2 {
    color: #004d40;
    font-size: 30px;
    margin-bottom: 20px;
}

ul { /* Unordered list styling */
    list-style-type: circle;
    margin-left: 25px;
    padding-left: 25px;
}

img { /* Image styling */
    max-width: 90%;
    height: auto;
    border: 4px solid #00796b;
    border-radius: 10px;
    display: block;
    margin: 25px auto;
}

table { /* Table styling */
    width: 75%;
    margin: 40px auto;
    border-spacing: 0;
}

th, td {
    border: 2px solid #004d40;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #004d40;
    color: #ffffff;
    font-weight: bold;
}

button { /* Button styling */
    background-color: #00796b;
    color: #fff;
    padding: 14px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}

form { /* Form styling */
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
}

input[type="text"], input[type="email"] {
    width: calc(100% - 22px);
    padding: 12px;
    margin-bottom: 22px;
    border: 2px solid #00796b;
    border-radius: 5px;
    font-size: 16px;
}

a { /* Link styling */
    color: #00796b;
    text-decoration: none;
}

a:hover { /* link animation */
    text-decoration: underline;
}
